{
  "extends": [
    "eslint-config-airbnb-base",
    "eslint-config-airbnb-base/rules/strict"
  ],
  "rules": {
    "max-len": ["warn", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false
    }],
    "no-param-reassign": ["error", { "props": false }],
    "class-methods-use-this": "off",
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
  }
}
